.nav li{ display: inline-block;
    z-index: 2;
        align-content: flex-end;
        padding-right: 100px;
        padding-left: 120px;
        padding-bottom: 80px;
        height: 10px;
        text-align: center;} 

.nav img{
    height:40px; 
    width:40px;}
    
.things{font-family: 'slabo 27px', serif; background-color: green;text-align: center;font-size: 140%;padding: 20px;text-decoration: underline; color:white; margin: 20px;
}
.intro{text-align: center;}
.info{text-align: left;padding-bottom: 40px;}
.slide{display:flex; justify-content: space-around;margin-top: 40px;margin-right: 20px;}
.places{font-family: 'slabo 27px', serif; background-color: green;text-align: center;font-size: 140%;padding: 20px;text-decoration: underline; color:white; margin: 20px;
}
body{padding: 40px;margin: 40px;font-family:'slabo 27px', serif; background-color: red;
}
.eat{text-align: center;}
.boroughs{color: white;border: white dotted; text-align: center;margin-top: 40px; }
a:hover{color: green;}
a{color:white;}
.number{color:white;}
.link{text-align: center;padding-bottom: 40px;}
img{width:450px; height:350px;}
.facebook a:hover{color: blue;}
.title{color:green;font-family: 'Berkshire Swash', cursive;}
.footer a:hover{color: darkgreen;}
.footer{margin-top: 60px;text-align: center;}
.slide{display:flex; justify-content: space-around;margin-top: 40px;margin-right: 20px;}
span{margin-right:5px;}

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 50%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
